                  <div class="options">
                    <div class="btn-toolbar">
                        <div class="btn-group hidden-xs">
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-barcode"></i><span class="hidden-sm"> Impressão de Códigos </span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%=link_to link_icone("Imprimir Todos","print"),imprimir_codigos_administracao_veiculos_path%></li>
                            </ul>
                        </div>
                    </div>
                </div>

<%=titulo_pagina(link_icone("Veículos",'car'),"Listagem de Veículos")%>

<table class='table DTTT_selectable'>
  <thead>
    <tr>
      <th>Modalidade</th>
      <th>Tipo</th>
      <th>Capacidade passageiros</th>
      <th>Itens obrigatorios</th>
      <th>Combustivel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administracao_veiculos.each do |administracao_veiculo| %>
      <tr>
        <td><%= administracao_veiculo.modalidade.nome %></td>
        <td><%= administracao_veiculo.lote.tipo %></td>
        <td><%= administracao_veiculo.capacidade_passageiros %></td>
        <td><%= administracao_veiculo.itens_obrigatorios %></td>
        <td><%= administracao_veiculo.combustivel.nome %></td>
        <td><%= link_to link_icone('detalhes'), administracao_veiculo,:class=>"btn btn-success btn-sm" %></td>
        <td><%= link_to link_icone('editar'), edit_administracao_veiculo_path(administracao_veiculo),class: "btn btn-warning btn-sm",data: { no_turbolink: true }  %></td>
        <td><%= link_to link_icone('apagar'), administracao_veiculo, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' },:class=>"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>



<%= link_to link_icone('Cadastrar Veículo','plus'), new_administracao_veiculo_path, :class=>"btn btn-large btn-success",data: { no_turbolink: true }  %>
