
<%= titulo_pagina(link_icone("Veículos","car"), link_icone("Detalhes de: #{@administracao_veiculo.lote.tipo} - #{@administracao_veiculo.placa}","car"))%>
<div class='row'>
<div class='col-xs-6'>
<dl class="dl-horizontal"> 

  <dt>Tipo:</dt>
  <dd><%= @administracao_veiculo.lote.tipo %></dd>
  <dt>Capacidade carga:</dt>
  <dd><%= @administracao_veiculo.capacidade_carga %></dd>
  <dt>Capacidade passageiros:</dt>
  <dd><%= @administracao_veiculo.capacidade_passageiros %></dd>
  <dt>Ano fabricacao:</dt>
  <dd><%= @administracao_veiculo.ano_fabricacao %></dd>
  <dt>Itens obrigatorios:</dt>
  <dd><%= @administracao_veiculo.itens_obrigatorios %></dd>
  <dt>Observacao:</dt>
  <dd><%= @administracao_veiculo.observacao %></dd>
  <dt>Modalidade:</dt>
  <dd><%= @administracao_veiculo.modalidade.nome %></dd>
  <dt>Combustivel:</dt>
  <dd><%= detalhes(@administracao_veiculo.combustivel,:nome) %></dd>
  <dt>Placa:</dt>
  <dd><%=@administracao_veiculo.placa%></dd>
    <dt>Número do Veículo:</dt>
  <dd><%=@administracao_veiculo.position%></dd>
  <dt>Códigos</dt>
  <dd><%=image_tag(@administracao_veiculo.qrcode_url,class: "img-responsive img-thumbnail")%></dd>
  <dd><%=image_tag(@administracao_veiculo.codigo_de_barras_url,class: "img-responsive img-thumbnail")%></dd>
</dl>

<%= link_to link_icone('editar'), edit_administracao_veiculo_path(@administracao_veiculo),class: "btn btn-warning btn-sm" %> |
<%= link_to link_icone('voltar'), administracao_veiculos_path, class: "btn btn-sm btn-default" %>
</div>


</div>