
<%= simple_form_for(@administracao_combustivel) do |f| %>
  <%= f.error_notification %>

    <div class='row'>
    <div class='col-xs-6'>
    <%= f.input :nome %>
    </div>
    <div class='col-xs-4'>
    <%= f.input :valor,input_html: {class: 'money'} %>
    </div>
   </div>
    <br/><br/><br/>
    <%=botoes_form(f)%>

<% end %>

