<p id="notice"><%= notice %></p>

<%= titulo_pagina("Detalhes da AdministracaoCombustivel", @administracao_combustivel.nome)%>

<dl class="dl-horizontal"> 
  <dt>Nome:</dt>
  <dd><%= @administracao_combustivel.nome %></dd>
  <dt>Valor:</dt>
  <dd><%= @administracao_combustivel.valor %></dd>
</dl>
<%= link_to link_icone('editar'), edit_administracao_combustivel_path(@administracao_combustivel),class: "btn btn-warning btn-sm" %> |
<%= link_to link_icone('voltar'), administracao_combustiveis_path, class: "btn btn-sm btn-default" %>