	<div class="row">
	<div class='col-md-12'>
	<%= f.link_to_remove "×",:class=>"close",:'aria-hidden'=>"true" %>
	<%=f.input :descricao,:label=>"Descrição do Destino",:required=>'required'%>
	<%= f.input :estado_id,:input_html=>{:class=>"form-control",:value=>@estado.id},as: :hidden %>


	<div class='gmaps'>		<div class='input-gmaps-autocomplete'>
			<%= f.input :endereco,:input_html=>{:id=>"endereco_real",:id=>'gmaps-input-address'},:label=>"Endereço",:hint=>raw("Use a Marca #{link_icone("Sitron",'sitron-marker','esquerda')} no Mapa para localizar o endereço")%>
			<%= f.input :latitude,:input_html=>{:class=>"gllpLatitude",:readonly=>true,:id=>"gmaps-output-latitude"},:as=>:hidden%>
			<%= f.input :longitude,:input_html=>{:class=>"gllpLongitude",:readonly=>true,:id=>"gmaps-output-longitude"},:as=>:hidden%>
		</div>
		<div id='gmaps-canvas'></div>
	</div>
</div>
</div>