<script type="text/javascript">

</script>
<%= simple_nested_form_for @requisicao,html: {class: 'well form-horizontal'} do |f| %>
<%= f.error_notification %>
<%= f.association :motivo,:collection=>Administracao::Motivo.normais.collect {|m|[m.nome,m.id]}, :label=>"Motivo da Requisição",:prompt=>'Selecione o seu motivo para a Requisição',:input_html=>{:id=>"motivo_requisicao"}%>
<div id="div_carga">
</div>
<%= f.input :tipo_requisicao,input_html: {value: "normal",readonly: true},as: :hidden%>
<%= f.input :data_ida,input_html: {readonly: true,value: Time.now.tomorrow.to_date.to_s_br},as: :string,:label=>"Saída"  %>
<%= f.input :hora_ida,input_html: {id: "timepicker",value: "#{(Time.now+1.hour).hour}:00:00"},as: :string,:label=>"Na Hora"  %>
<%= f.input :data_volta,input_html: {readonly: true,value: Time.now.tomorrow.to_date.to_s_br},as: :string,:label=>"Previsão de Retorno"  %>
<%= f.input :hora_volta,input_html: {id: "timepicker2",value: "#{(Time.now+2.hour).hour}:00:00"},as: :string,:label=>"Na Hora"  %>

<%= f.input :numero_passageiros,:collection=>1..15, :label=>"Número de passageiros",:include_blank=>"Selecione o numero de passageiros"%>

<%=f.input :rota_ids,:collection=>@rotas.collect{|r|[r.destino,r.id]},input_html: {class: "multiselect_rota",multiple: "multiple"},:hint=>"Selecione a Rota",:label=>"Rota"%>

<%=f.input :pessoa_ids,:collection=>@pessoas.collect{|p|[p.nome,p.id]},input_html: {class: "multiselect_pessoa",multiple: "multiple"},:hint=>"Selecione os Passageiros",:label=>"Passageiros"%>


<br/><br/><br/>
<%=botoes_form(f)%>

<% end %>

<%content_for :scripts do%>
<script type="text/javascript">
$(function() {
  $("#motivo_requisicao").observe_field(0.25, function( ) {
   $.get("/requisicoes/tipo_carga/?motivo_id="+$("#motivo_requisicao").val(), function(data) {
// here check_login is the method in our controller.
$("#div_carga").html(data);
});
  });
});
</script>
<%end%>

<script type="text/javascript">


	$('.datepicker').datepicker({format: "dd/mm/yyyy",todayHighlight: true,todayBtn: 'linked',autoclose: true,language: 'pt-BR',
        'disableDateRanges': [
        ['01/01/1000', 'Date.today'],
        ]}); 
	$('#timepicker').timepicker({ 'timeFormat': 'H:i:s', 'step': 15 ,
		'disableTimeRanges': [
		['0am', '7am'],
		]

	});


    $('#timepicker2').timepicker({ 'timeFormat': 'H:i:s', 'step': 15 ,
        'disableTimeRanges': [
        ['0am', '7am'],
        ]

    });

</script>


<script type="text/javascript">
   var np = 0
    $("#npassageiros").change(function(){ 
        var np = 0
         np = $("#npassageiros").val();
    });
   

	$(document).ready(function() {
		$('.multiselect_pessoa').multiselect({
			enableFiltering: true,
			nonSelectedText: 'Nenhuma pessoa Selecionada',
            maxHeight: 150,
			onChange: function(option, checked) {
    // Get selected options.
    var selectedOptions = $('.multiselect_pessoa option:selected');

    if (selectedOptions.length >= $("#npassageiros").val()) {
    // Disable all other checkboxes.
    var nonSelectedOptions = $('.multiselect_pessoa option').filter(function() {
    	return !$(this).is(':selected');
    });

    var dropdown = $('.multiselect_pessoa').siblings('.multiselect-container');
    nonSelectedOptions.each(function() {
    	var input = $('input[value="' + $(this).val() + '"]');
    	input.prop('disabled', true);
    	input.parent('li').addClass('disabled');
    });
}
else {
    // Enable all checkboxes.
    var dropdown = $('.multiselect_pessoa').siblings('.multiselect-container');
    $('.multiselect_pessoa option').each(function() {
    	var input = $('input[value="' + $(this).val() + '"]');
    	input.prop('disabled', false);
    	input.parent('li').addClass('disabled');
    });
}
}
});
		$('.multiselect_rota').multiselect({
			enableFiltering: true,
			 nonSelectedText: 'Selecione ao Menos uma Rota'
		});
	});
</script>


