<script type="text/javascript">

</script>
<%= simple_nested_form_for @requisicao,html: {class: 'well form-horizontal'} do |f| %>
<%= f.error_notification %>
<%= f.association :motivo,:collection=>Administracao::Motivo.normais.collect {|m|[m.nome,m.id]}, :label=>"Motivo da Requisição",:prompt=>'Selecione o seu motivo para a Requisição',:input_html=>{:id=>"motivo_requisicao"}%>
<div id="div_carga">
</div>
<%= f.input :tipo_requisicao,input_html: {value: "normal",readonly: true},as: :hidden%>
<%if Time.zone.now.wday == 6 -%>
<%= f.input :data_ida,input_html: {readonly: true,value: 2.days.from_now.to_date.to_s_br},as: :string,:label=>"Saída"  %>
<%elsif Time.zone.now.wday == 7 -%>
<%= f.input :data_ida,input_html: {readonly: true,value: 1.days.from_now.to_date.to_s_br},as: :string,:label=>"Saída"  %>
<%else%>
<%= f.input :data_ida,input_html: {readonly: true,value: Time.zone.now.tomorrow.to_date.to_s_br},as: :string,:label=>"Saída"  %>

<%end%>

<%= f.input :hora_ida,input_html: {id: "timepicker",value: "#{(Time.now+1.hour).hour}:00:00"},as: :string,:label=>"Na Hora"  %>
<%if Time.zone.now.wday == 6 -%>
<%= f.input :data_volta,input_html: {readonly: true,value: 2.days.from_now.to_date.to_s_br},as: :string,:label=>"Previsão de Retorno"  %>
<%elsif Time.zone.now.wday == 7 -%>
<%= f.input :data_volta,input_html: {readonly: true,value: 1.days.from_now.to_date.to_s_br},as: :string,:label=>"Previsão de Retorno"  %>
<%else%>
<%= f.input :data_volta,input_html: {readonly: true,value: Time.now.tomorrow.to_date.to_s_br},as: :string,:label=>"Previsão de Retorno"  %>
<%end%>

<%= f.input :hora_volta,input_html: {id: "timepicker2",value: "#{(Time.now+2.hour).hour}:00:00"},as: :string,:label=>"Na Hora"  %>

<%= f.input :numero_passageiros,:collection=>1..15, :label=>"Número de passageiros",:include_blank=>"Selecione o numero de passageiros",input_html: {id: "npassageiros"}%>

<%=f.input :pessoa_ids,:collection=>@pessoas.collect{|p|[p.nome.camelcase,p.id]},input_html: {class: "multiselect_pessoa",multiple: "multiple"},:hint=>raw("Selecione os Passageiros ou #{link_cadastro_modal(link_icone('Clique aqui','user'),'#cadastrar_pessoa')} para cadastrar uma pessoa"),:label=>"Passageiros"%>

<%=f.input :rota_ids,:collection=>@rotas.collect{|r|[sigla_destino(r),r.id]},input_html: {class: "multiselect_rota",multiple: "multiple"},:hint=>"Selecione a Rota",:label=>"Rota"%>




<br/><br/><br/>
<%=botoes_form(f)%>

<% end %>

<%content_for :scripts do%>
<script type="text/javascript">
$(function() {
  $("#motivo_requisicao").observe_field(0.25, function( ) {
   $.get("/requisicoes/tipo_carga/?motivo_id="+$("#motivo_requisicao").val(), function(data) {
// here check_login is the method in our controller.
$("#div_carga").html(data);
});
  });
});
</script>
<%end%>

<script type="text/javascript">


	$('.datepicker').datepicker({format: "dd/mm/yyyy",todayHighlight: true,todayBtn: 'linked',autoclose: true,language: 'pt-BR',
        'disableDateRanges': [
        ['01/01/1000', 'Date.today'],
        ]}); 
	$('#timepicker').timepicker({ 'timeFormat': 'H:i:s', 'step': 15 ,
		'disableTimeRanges': [
		['0am', '7am'],
		]

	});


    $('#timepicker2').timepicker({ 'timeFormat': 'H:i:s', 'step': 15 ,
        'disableTimeRanges': [
        ['0am', '7am'],
        ]

    });

</script>


<script type="text/javascript">
 var np = 0
 
 $("#npassageiros").change(function(){ 
  var np = 0
  np = $("#npassageiros").val();
});


 $(document).ready(function() {
  $('.multiselect_pessoa').multiselect({
    enableFiltering: true,
    nonSelectedText: 'Nenhum passageiro Selecionado',
    maxHeight: 150,
    numberDisplayed:0,
     buttonText: function(options, select) {
    if (options.length == 0) {
      return this.nonSelectedText + ' <b class="caret"></b>';
    }
    else {
      if (options.length > this.numberDisplayed) {
        return 'Você selecionou' + ' ' + options.length +' <b class="caret"></b>';
      }
      else {
        var selected = '';
        options.each(function() {
          var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();

          selected += "Selecionados" + ', ';
        });
        return selected.substr(0, selected.length - 2) + ' <b class="caret">Selecionado</b>';
      }
    }
  },
    onChange: function(option, checked) {
    // Get selected options.
    var selectedOptions = $('.multiselect_pessoa option:selected');

    if (selectedOptions.length >= $("#npassageiros").val()) {
    // Disable all other checkboxes.
    var nonSelectedOptions = $('.multiselect_pessoa option').filter(function() {
      return !$(this).is(':selected');
    });

    var dropdown = $('.multiselect_pessoa').siblings('.multiselect-container');
    nonSelectedOptions.each(function() {
      var input = $('input[value="' + $(this).val() + '"]');
      input.prop('disabled', true);
      input.parent('li').addClass('disabled');
    });
  }
  else {
    // Enable all checkboxes.
    var dropdown = $('.multiselect_pessoa').siblings('.multiselect-container');
    $('.multiselect_pessoa option').each(function() {
      var input = $('input[value="' + $(this).val() + '"]');
      input.prop('disabled', false);
      input.parent('li').addClass('disabled');
    });
  }
}
});
$('.multiselect_rota').multiselect({
  enableFiltering: true,
  numberDisplayed:0,
  maxHeight: 200,
  nonSelectedText: 'Selecione ao Menos uma Rota',
  buttonText: function(options, select) {
    if (options.length == 0) {
      return this.nonSelectedText + ' <b class="caret"></b>';
    }
    else {
      if (options.length > this.numberDisplayed) {
        return 'Você selecionou' + ' ' + options.length +' <b class="caret"></b>';
      }
      else {
        var selected = '';
        options.each(function() {
          var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();

          selected += "Selecionados" + ', ';
        });
        return selected.substr(0, selected.length - 2) + ' <b class="caret">Selecionado</b>';
      }
    }
  }
});
});
</script>




<%=modal_simples("cadastrar_pessoa", "Adicionar uma Pessoa ao Sistema" ) do %>

<%= simple_form_for :pessoa,html: {class: "form-horizontal",id: "my_form"},:url=>salvar_pessoa_requisicoes_url(:url_volta=>request.original_url) do |f| %>
  <%= f.error_notification %>

    <%= f.input :nome %>
    <%= f.input :cpf, input_html: {class: "cpf"} %>
    <%= f.input :email, as: :email %>
    <%= f.input :matricula %>
    <%= f.input :entidade_id,input_html: {value: current_user.pessoa.entidade.id},as: :hidden%>
    <%= f.input :departamento_id,input_html: {value: current_user.pessoa.departamento.id},as: :hidden    %>
    <%= f.input :cargo_id,:collection=>Administracao::Cargo.all.collect {|c|[c.nome,c.id]} %>
    <%=botoes_form_modal(f,"Salvar Pessoa")%>

<% end %>
<%end%>