<%=titulo_pagina(link_icone("Requisição Sitron/SEED",'thumbs-up'),link_icone("Agendamento de viagem", "calendar"))%>


<%= simple_form_for @requisicao,html: {class: 'well form-horizontal'},url: agendar_requisicao_requisicoes_url do |f| %>
<%= f.error_notification %>
<%= f.association :motivo,:collection=>Administracao::Motivo.normais.collect {|m|[m.nome,m.id]}, :label=>"Motivo da Requisição",:prompt=>'Selecione o seu motivo para a Requisição',:input_html=>{:id=>"motivo_requisicao"}%>
<div id="div_carga">
</div>
<%= f.input :requisitante_id,input_html: {value: current_user.pessoa.id},as: :hidden%>
<%= f.input :inicio,:input_html=>{:readonly=>true},as: :string,hint: "Clique no campo para selecionar a data de Ida e Volta",:label=>"Saída"%>
<%= f.input :fim,:input_html=>{:readonly=>true},as: :string,hint: "Este campo será preenchido automaticamente",:label=>"Previsão de Retorno"  %>
<%= f.input :tipo_requisicao,input_html: {value: "agendada",readonly: true},as: :hidden%>
<%= f.input :numero_passageiros,:collection=>1..15, :label=>"Número de passageiros",:include_blank=>"Selecione o numero de passageiros",input_html: {id: "npassageiros"}%>

<%=f.input :pessoa_ids,:collection=>@pessoas.collect{|p|[p.nome.camelcase,p.id]},input_html: {class: "multiselect_pessoa",multiple: "multiple"},:hint=>raw("Selecione os Passageiros ou #{link_cadastro_modal(link_icone('Clique aqui','user'),'#cadastrar_pessoa')} para cadastrar uma pessoa"),:label=>"Passageiros"%>

<%=f.input :rota_ids,:collection=>@rotas.collect{|r|[r.destino.downcase.camelcase,r.id]},input_html: {class: "multiselect_rota",multiple: "multiple"},:hint=>"Selecione a Rota",:label=>"Rota"%>



<%= f.input :pernoite,
  :as => :radio_buttons_left_label,
  :collection => [["Pernoite no Local",true],["Pernoite em Macapá",false]],:label=>"Local de Pernoite"
%>

<br/><br/><br/>
<%= botoes_form(f)%>

<% end %>

<%content_for :scripts do%>
<script type="text/javascript">
$(function() {
  $("#motivo_requisicao").observe_field(0.25, function( ) {
   $.get("/requisicoes/tipo_carga/?motivo_id="+$("#motivo_requisicao").val(), function(data) {
// here check_login is the method in our controller.
$("#div_carga").html(data);
});
  });
});
</script>
<%end%>


<script type="text/javascript">
  $('#requisicao_inicio').daterangepicker(
  {
    locale: {applyLabel: 'Aplicar',
    cancelLabel: 'Cancel',
    fromLabel: 'Saída',
    toLabel: 'Retorno',
    weekLabel: 'W',
    customRangeLabel: 'Calendário'},
    timePicker: true, timePickerIncrement: 15, format: 'DD/MM/YYYY H:mm',timePicker12Hour: false,minDate: "<%=Time.now.to_s_br%>",

    startDate: moment(),
    endDate: moment().add('minutes',15)
  },
  function(start, end) {
    $('#requisicao_inicio').val(start.format('DD/MM/YYYY H:mm'));
    $('#requisicao_fim').val(end.format('DD/MM/YYYY H:mm'));
  }
  );
</script>



<script type="text/javascript">
 var np = 0
 
 $("#npassageiros").change(function(){ 
  var np = 0
  np = $("#npassageiros").val();
});


 $(document).ready(function() {
  $('.multiselect_pessoa').multiselect({
    enableFiltering: true,
    nonSelectedText: 'Nenhum passageiro Selecionado',
    maxHeight: 150,
    numberDisplayed:0,
     buttonText: function(options, select) {
    if (options.length == 0) {
      return this.nonSelectedText + ' <b class="caret"></b>';
    }
    else {
      if (options.length > this.numberDisplayed) {
        return 'Você selecionou' + ' ' + options.length +' <b class="caret"></b>';
      }
      else {
        var selected = '';
        options.each(function() {
          var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();

          selected += "Selecionados" + ', ';
        });
        return selected.substr(0, selected.length - 2) + ' <b class="caret">Selecionado</b>';
      }
    }
  },
    onChange: function(option, checked) {
    // Get selected options.
    var selectedOptions = $('.multiselect_pessoa option:selected');

    if (selectedOptions.length >= $("#npassageiros").val()) {
    // Disable all other checkboxes.
    var nonSelectedOptions = $('.multiselect_pessoa option').filter(function() {
      return !$(this).is(':selected');
    });

    var dropdown = $('.multiselect_pessoa').siblings('.multiselect-container');
    nonSelectedOptions.each(function() {
      var input = $('input[value="' + $(this).val() + '"]');
      input.prop('disabled', true);
      input.parent('li').addClass('disabled');
    });
  }
  else {
    // Enable all checkboxes.
    var dropdown = $('.multiselect_pessoa').siblings('.multiselect-container');
    $('.multiselect_pessoa option').each(function() {
      var input = $('input[value="' + $(this).val() + '"]');
      input.prop('disabled', false);
      input.parent('li').addClass('disabled');
    });
  }
}
});
$('.multiselect_rota').multiselect({
  enableFiltering: true,
  numberDisplayed:0,
  nonSelectedText: 'Selecione ao Menos uma Rota',
  buttonText: function(options, select) {
    if (options.length == 0) {
      return this.nonSelectedText + ' <b class="caret"></b>';
    }
    else {
      if (options.length > this.numberDisplayed) {
        return 'Você selecionou' + ' ' + options.length +' <b class="caret"></b>';
      }
      else {
        var selected = '';
        options.each(function() {
          var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();

          selected += "Selecionados" + ', ';
        });
        return selected.substr(0, selected.length - 2) + ' <b class="caret">Selecionado</b>';
      }
    }
  }
});
});
</script>


<%=modal_simples("cadastrar_pessoa", "Adicionar uma Pessoa ao Sistema" ) do %>

<%= simple_form_for :pessoa,html: {class: "form-horizontal",id: "my_form"},:url=>salvar_pessoa_requisicoes_url(:url_volta=>request.original_url) do |f| %>
  <%= f.error_notification %>


    <%= f.input :nome %>
    <%= f.input :cpf, input_html: {class: "cpf"} %>
    <%= f.input :email, as: :email %>
    <%= f.input :matricula %>
    <%= f.input :entidade_id,input_html: {value: current_user.pessoa.entidade.id},as: :hidden%>
    <%= f.input :departamento_id,input_html: {value: current_user.pessoa.departamento.id},as: :hidden    %>
    <%= f.input :cargo_id,:collection=>Administracao::Cargo.all.collect {|c|[c.nome,c.id]} %>
    <%=botoes_form_modal(f,"Salvar Pessoa")%>

<% end %>
<%end%>