<li class="dropdown">
          <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown' id='mensagens'><i class="fa fa-envelope"></i>
          <%if @mensagensb.count > 0%>
          <div id='contador'>
          <span class="badge"><%=@mensagensb.count%></span>
          </div>
          <%end%>
          </a>
          <ul class="dropdown-menu messages arrow">

             <li class="dd-header">
                <span>Você tem <%=@mensagensb.count%> <%="nova".pluralize(@mensagensb.count)%> <%="mensagem ".pluralize(@mensagensb.count)%></span>
                <span><%=link_to "Marcar tudo como lida",marcar_lida_mensagens_url,:method=>:post,:remote=>true%></span>
            </li>
            <div class="scrollthis">
            <div id="lista_mensagens">
            <%@mensagensb.each do |m|%>
            <li><a href="#" class="active">
                <span class="hora"><%=tempo_relativo(m.created_at)%></span>
                <%if m.remetente -%>
                <img src="assets/demo/avatar/paton.png" alt="avatar" />
                <div><span class="name">Polly Paton</span><span class="msg">Uploaded all the files to server. Take a look.</span></div>
                <%else -%>
                <div><span class="name">AVISO</span><span class="msg"><%=m.texto%></span></div>
                <%end -%>
            </a></li>
            <%end%>
            </div>
           
        </div>
        <li class="dd-footer"><a href="/mensagens">Ver Todas as Mensagens</a></li>
    </ul>
</li>