<li class="dropdown">
  <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown' id='notificacoes'><i class="fa fa-bell"></i>
    <%if @notificacoesb.count > 0%>
    <div id='contador'>
      <span class="badge"><%=@notificacoesb.count%></span>
    </div>
    <%end%>
  </a>
  <ul class="dropdown-menu messages arrow">

   <li class="dd-header">
    <span>Você tem <%=@notificacoesb.count%> <%="nova".pluralize(@notificacoesb.count)%> <%="mensagem ".pluralize(@notificacoesb.count)%></span>
    <span><%=link_to "Marcar tudo como visto",marcar_vista_notificacoes_url,:method=>:post,:remote=>true%></span>
  </li>
  <div class="scrollthis">
    <div id="lista_notificacoes">
     <%@notificacoesb.each do |n|%>
     <li>
      <a href="<%= gerencia_controle_requisicoes_detalhes_requisicao_path(:requisicao_id=>n.objeto.id,:notificacao_id=>n.id)%>" class="notification-success active">
        <span class="hora"><%=tempo_relativo(n.created_at)%></span>
        <i class="fa fa-thumbs-up"></i>
        <span class="msg"><%=n.texto%></span>
      </a>
    </li>
    <%end%>
  </div>
  
</div>
<li class="dd-footer"><a href="<%= link_notificacoes%>">Ver Todas as Requisições imediatas</a></li>
</ul>
</li>