<%=titulo_pagina(link_icone("Mensagens","envelope"),link_icone("Listagem de Mensagens","envelope-o"))%>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables">
    <thead>
        <tr>
            <th>Remetente</th>
            <th>Data do Envio</th>
            <th>Lida?</th>
        </tr>
    </thead>
    <tbody>
    
        <%@mensagens.each do |req|%>
        <tr class="<%=even_odd(req.id)%> gradeX">
        <td  class="sorting_1"><%=m_lida(req)%><%=remetente(req)%></td>
            <td><%=req.created_at.to_s_br%></td>
            <td>
              <%=link_to link_icone("Ler Mensagem","envelope-o"), mensagem_ler_url(req),:class=>"btn  btn-success-alt btn-xs"%>

            </td>
    
        </tr>
        <%end%>
    </tbody>
</table>


<%= link_to link_icone('Nova Mensagem','plus'), new_mensagem_path, :class=>"btn btn-large btn-success",data: { no_turbolink: true }  %>

<%content_for :scripts do%>
<script type="text/javascript">

  $(document).ready(function() {
    $('.datatables').dataTable({
         destroy: true,
        "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ registros por página",
            "sSearch": "",
            "sInfo": "Exibindo página _PAGE_ de _PAGES_"
        }
    });
    $('.dataTables_filter input').addClass('form-control').attr('placeholder','Buscar...');
    $('.dataTables_length select').addClass('form-control');
});

</script>
<%end%>