<%titulo_pagina("Sistema de Gestão de Transporte On-Line","SITRON")%>
<%content_for :dashboard do%>

<%=icone_dash("Usuários Registrados",User.all.count,"person","Ver Todos","arrow-circle-right",'green',users_url)%>
<%=icone_dash("Postos no Pátio",Posto.na_data(Time.now).count,"model-s","Ver Todos","arrow-circle-right",'orange',patio_index_url)%>
<%=icone_dash("Postos Disponíveis",Posto.disponivel.na_data(Time.now).count,"model-s","Ver Todos","arrow-circle-right",'success')%>
<%=icone_dash("Requisições de Transporte (RST)",Requisicao.count,"clipboard","Ver Todos","arrow-circle-right",'primary')%>
<%=icone_dash("Rotas",Administracao::Rota.count,"map","Listar Rotas","arrow-circle-right",'sky')%>
<%=icone_dash("Problemas Ocorridos","6","thumbsdown","Mostrar todos os Problemas","arrow-circle-right",'danger')%>

<%end%>


<%content_for :dashboard_user do%>

<div class="box">
	<div class="box-header">
		<h3 class="box-title">Requisição de Serviço de Transporte</h3>
	</div>
	<div class="box-body">
		<%=link_to link_icone_ion("Requisição de Transporte","model-s"),"#",:class=>"btn btn-app btn-success"%>

		<%=link_to link_icone_ion("Status de Requisição","information-circled"),"#",:class=>"btn btn-app btn-success"%>
		<%=link_to link_icone_ion("Efetuar uma Reclamação","bug"),"#",:class=>"btn btn-app btn-success"%>
	</div>
</div>
<%end%>
