<%=titulo_pagina(link_icone("Departamentos","sitemap"),"Listagem de Departamentos")%>
<table class='table'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Entidade</th>
      <th>Responsavel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administracao_departamentos.each do |administracao_departamento| %>
      <tr>
        <td><%= administracao_departamento.nome %></td>
        <td><%= administracao_departamento.entidade.nome%></td>
        <td><%= administracao_departamento.responsavel%></td>
        <td><%= link_to link_icone('detalhes'), administracao_departamento,:class=>"btn btn-success btn-sm" %></td>
        <td><%= link_to link_icone('editar'), edit_administracao_departamento_path(administracao_departamento),class: "btn btn-warning btn-sm",data: { no_turbolink: true }  %></td>
        <td><%= link_to link_icone('apagar'), administracao_departamento, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>



<%= link_to link_icone('Cadastrar Departamento','plus'), new_administracao_departamento_path, :class=>"btn btn-large btn-success",data: { no_turbolink: true }  %>
