
<%=titulo_pagina(link_icone("Empresas",'building-o'),"Listagem de Empresas")%>

<table class='table'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cnpj</th>
      <th>Responsável</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administracao_empresas.each do |administracao_empresa| %>
      <tr>
        <td><%= administracao_empresa.nome %></td>
        <td><%= administracao_empresa.cnpj %></td>
        <td><%= administracao_empresa.responsavel_id %></td>
        <td><%= link_to link_icone('detalhes'), administracao_empresa ,:class=>"btn btn-success btn-sm"%></td>
        <td><%= link_to link_icone('editar'), edit_administracao_empresa_path(administracao_empresa),:class=>"btn btn-warning btn-sm" %></td>
        <td><%= link_to link_icone('apagar'), administracao_empresa, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to link_icone('Cadastrar Empresa','plus'), new_administracao_empresa_url, :class=>"btn btn-large btn-success",data: { no_turbolink: true } %>
