  <div class="panel-body">
  <h4 class="text-center" style="margin-bottom: 25px;">Entrar no Sistema</h4>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {class: "form-horizontal", :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
      <%= f.input :email, :autofocus => true%>
      <%= f.input :password %>
    
        <% if devise_mapping.rememberable? -%>
      <div class="clearfix">

          <%=f.input :remember_me,:as=>:inline_checkbox,:label=>"Lembrar"%>

        </div>
      <% end -%>


      <%= f.submit 'Entrar', :class => "btn btn-primary btn-block" %>
      
 <% end %>
</div>



      <%- if devise_mapping.recoverable? %>
      <div class="panel-footer">
        <%= link_to "Perdeu sua senha?", new_password_path(resource_name), class: "pull-left btn btn-link",style: "padding-left:0"%>
          </div>
      <% end -%>
