<%=titulo_pagina(link_icone("Usuarios","users"),"Editar Usuario")%>

<%= simple_nested_form_for @usuario, html: {class: "form-horizontal"}, :url => usuario_path(@usuario), :validate=>true do |f| %>
  <%= f.error_notification %>

  	<h5>Dados do Usuario</h5>
  	<%= f.input :email %>
        
    <%= f.input :role, :collection => User.roles.keys.map {|role| [role.titleize,role]}, :input_html => {:class=>"input-medium"}, :label=>"Permissoes", :required => true if current_user.administrador?%>
    
    <h5>Dados da Pessoa</h5>
    <%= f.fields_for :pessoa, :html => { :class => 'form-horizontal' }, :validate=>true do |fp| %>
	    <%= fp.input :id, :value=>@pessoa.id, as: :hidden %>
      <%= fp.input :nome %>
	    <%= fp.input :cpf, input_html: {class: "cpf"} %>
	    <%= fp.input :email, as: :email %>
	    <%= fp.input :matricula %>
      <% if current_user.administrador?%>
	    <%= fp.association :entidade, collection: @empresas.collect{|e| [e.nome, e.id] } %>
	    <div id='departamentos'>
	     <%= fp.input :departamento, input_html: {disabled: true, value: detalhes(@usuario.pessoa.departamento,:sigla)} %>
	    </div>
	    <%= fp.association :cargo,:collection=>@cargos.collect{|c|[c.nome,c.id]}, input_html: {disabled: false} %>
      <%end%>
	  <% end %>



    <br/><br/><br/>
    <%=botoes_form(f)%>

<% end %>


<%content_for :scripts do%>
<script type="text/javascript">
$(function() {
  $("#user_pessoa_attributes_entidade_id").observe_field(0.25, function( ) {
   $.get("/usuarios/listar_departamentos?empresa_id="+$("#user_pessoa_attributes_entidade_id").val(), function(data) {
// here check_login is the method in our controller.
$("#departamentos").html(data);
});
  });
});
</script>
<%end%>
