<%=titulo_pagina(link_icone("Rotas",'compass'),"Rotas Cadastradas")%>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables">
  <thead>
    <tr>
      <th>Destino</th>
      <th>Tempo previsto</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @administracao_rotas.each do |administracao_rota| %>
      <tr>
        <td><%= administracao_rota.destino %></td>
        <td><%= administracao_rota.tempo_previsto %></td>
        <td><%= administracao_rota.latitude %></td>
        <td><%= administracao_rota.longitude %></td>
        <td><%= link_to link_icone('detalhes'), administracao_rota,:class=>"btn btn-success btn-xs" %>
          <%= link_to link_icone('apagar'), administracao_rota, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' },:class=>"btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>



<%= link_to link_icone('Cadastrar Rota','plus'), new_administracao_rota_path, :class=>"btn btn-large btn-success",data: { no_turbolink: true }  %>

<%content_for :scripts do%>
<script type="text/javascript">

  $(document).ready(function() {
    $('.datatables').dataTable({
     destroy: true,
     "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
     "sPaginationType": "bootstrap",
     "oLanguage": {
      "sLengthMenu": "_MENU_ registros por página",
      "sSearch": "",
      "sInfo": "Exibindo página _PAGE_ de _PAGES_",
      "oPaginate": {
        "sPrevious": "Anterior",
        "sNext": "Próxima"
      }
    }
  });
    $('.dataTables_filter input').addClass('form-control').attr('placeholder','Buscar...');
    $('.dataTables_length select').addClass('form-control');
  });

</script>

<%end%>