 <%=modal("p_#{r.id}", "Definir o Posto para a Requisição: #{r.numero}",r) do %>
 <dl class="dl-horizontal">

  <dt>Requisitante</dt>
  <dd><%=r.requisitante.nome%></dd>
  <dt>Setor</dt>
  <dd><%=r.requisitante.departamento.nome%></dd>
  <dt>Motivo da Requisição</dt>
  <dd><%=r.motivo.nome%></dd>
  <dt></dt>
  <dd><%=r.descricao%></dd>
  <dt>Passageiros</dt>
  <dd><%=r.servidores_nome%></dd>
  <dt>Horas Estimadas</dt>
  <dd><%=r.previsao_horas.to_i%></dd>
  <hr/>
</dl>
<%if @postos.count >0%>
<h3>Postos Disponíveis no Pátio</h3>
<div id='content'>
  <%if r.requisitante.departamento.usa_moto?%>
      
      <%@postos.do_tipo(4).each do |p|%>
        <%=postos_disponiveis(p,r)%>
      <%end%>

  <%else%>
  
  <%if r.requisitante.departamento.usa_especial?%>
    <%@postos_gerais.each do |p|%>
      <%=postos_disponiveis(p,r)%>
    <%end%>

  <%else%>
   
     <%@postos_gerais.each do |p|%>
      <%=postos_disponiveis(p,r)%>
    <%end%>

  <%end%>

  <%end%>

</div>

<%else%>
<div class="alert alert-dismissable alert-warning">
  <h3>Aviso!</h3>

  <p>Nenhum Posto disponível no Pátio</p>
  <br>

</div>
<%end%>
<%end%>