<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered urgentes datatables" id='urgentes'>
  <thead>
  <tr>
    <th>Número</th>
    <th>Requisitante</th>
    <th>Departamento</th>
    <th>Saída</th>
    <th>Previsão de Retorno</th>
    <th>Ações</th>
  </tr>
  <thead>
  <tbody>
  <%@urgentes_aguardando.each do |r|%>

      <tr>
        <td><%=r.numero%></td>
        <td><%=r.requisitante.nome%></td>
        <td><%=r.requisitante.departamento.sigla%></td>
        <td><%=r.data_ida.to_s_br%> <%=r.inicio.in_time_zone("Brasilia").strftime("%H:%M")%></td>
        <td><%=r.data_volta.to_s_br%> <%=r.fim.in_time_zone("Brasilia").strftime("%H:%M")%></td>
        <td>
          <div class="btn-group">
            <%=link_to link_icone("Detalhes","eye"), "#detalhes_#{r.id}", :'data-toggle' => "modal",:class=>"btn btn-xs btn-success"  %>
            <%=link_to link_icone("Definir Posto","car"), "#p_#{r.id}", :'data-toggle' => "modal",:class=>"btn btn-xs btn-green"  %>
            <%=link_to link_icone("Cancelar","recycle"), "javascript:;",:class=>"btn btn-xs btn-brown",:id=>"alerta-#{r.id}"  %>


            <script type='text/javascript'>
                $('#alerta-<%=r.id%>').click(function(){
                    bootbox.prompt("Qual o Motivo para o Cancelamento da Requisição <%=r.numero%>?", function(result) {
                        if (result === null) {
                        } else {
                            $.post("/gerencia/controle_requisicoes/cancelar_requisicao?requisicao=<%=r.id%>&"+"motivo="+result);

                        }
                    });
                });
            </script>
          </div>
        </td>
      </tr>

      <%=modal("detalhes_#{r.id}", "Detalhes da Requisição: #{r.numero}",r) do %>
          <dl>

            <dt>Requisitante</dt>
            <dd><%=r.requisitante.nome%></dd>
            <dt>Setor</dt>
            <dd><%=r.requisitante.departamento.nome%></dd>
            <dt>Motivo da Requisição</dt>
            <dd><%=r.motivo.nome%></dd>
            <dt>Descriçao</dt>
            <dd><%=r.descricao%></dd>
            <dt>Passageiros</dt>
            <dd><%=r.servidores_nome%></dd>
            <dt>Destinos</dt>
            <dd><%=r.rotas_requisicao%></dd>
            <dt>Periodo do Serviço</dt>
            <dd><%=r.periodo_completo_da_requisicao%></dd>
            <dt>Horas Estimadas</dt>
            <dd><%=r.previsao_horas.to_i%></dd>
          </dl>
      <%end%>

     <%=render :partial=>"definir_posto",:locals=>{:r=>r}%>

  <%end%>
  </body>
</table>


<%content_for :scripts do%>
    <script type="text/javascript">

        $(document).ready(function() {
            $('.urgentes').dataTable({
                destroy: true,
                "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ registros por página",
                    "sSearch": "",
                    "sInfo": "Exibindo página _PAGE_ de _PAGES_",
                    "oPaginate": {
                        "sPrevious": "Anterior",
                        "sNext": "Próxima"
                    },
                    "sZeroRecords":  "Nenhuma requisição encontrada",
                }
            });
            $('.dataTables_filter input').addClass('form-control').attr('placeholder','Buscar...');
            $('.dataTables_length select').addClass('form-control');
        });

    </script>
<%end%>
