<%=titulo_pagina(link_icone("Controle de Requisições","random"),"Requisições Imediatas")%>

<table class="table table-striped table-bordered datatables dataTable">
	<tr>
		<th>Id</th>
		<th>Requisitante</th>
		<th>Saída</th>
		<th>Ações</th>
	</tr>

	<%@requisicoes.each do |r|%>

	<tr>
		<td><%=r.id%></td>
		<td><%=r.requisitante.nome%></td>
		<td><%=r.data_ida.to_s_br%> <%=r.hora_ida.strftime("%H:%M")%></td>
		<td>
    <div class="btn-group">
        <%=link_to link_icone("Detalhes","eye"), "#modal_#{r.id}", :'data-toggle' => "modal",:class=>"btn btn-xs btn-success"  %>
		<%=link_to link_icone("Definir Posto","car"), "#p_#{r.id}", :'data-toggle' => "modal",:class=>"btn btn-xs btn-green"  %>
        <%=link_to link_icone("Cancelar","recycle"), gerencia_controle_requisicoes_cancelar_requisicao_url(:requisicao=>r.id), data: { confirm: 'Você tem Certeza que deseja Cancelar esta requisicao?' },:class=>"btn btn-xs btn-brown",:method=>:post  %>
        </div>
		</td>
	</tr>

   <%=modal("p_#{r.id}", "Definir o Posto para a Requisição #{r.id}",r) do %>
      <%= simple_form_for :requisicao,:html=>{:class=>"form-horizontal"},:url=>gerencia_controle_requisicoes_definir_posto_url do |f| %>
          <%=f.input :id,:input_html=>{:value=>r.id},as: :hidden%>
         <%=f.input :posto,:collection=>@postos.collect {|p|["#{p.lote.nome} - #{p.lote.tipo}",p.id]}%>
          <br/>	
         	<%=botoes_form_modal(f,"Definir Posto")%>

      <%end%>
   <%end%>




	<%end%>
</table>

