<style type="text/css">
    .like-block {
        width: 200px;
        height: 90px;
        display: inline-block;
        margin-right: 5px;
        padding: 9px;
        border: none;
        border-radius: 5px;
    }
    .like-block-only-button {
        width: 100px;
        height: 40px;
        display: inline-block;
        margin-right: 5px;
        padding: 9px;
    }
    .like-button {
        height: 30px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        border-radius: 5px;
        background: #85C744;
        padding: 8px 14px 10px;
        border: 1px solid #669e2f;
        cursor: pointer;

        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
        color: #ffffff;
        box-shadow: inset 0px 1px 0px #669e2f, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    }
    .like-button:hover {
        color: #dfe7ea;
        box-shadow: inset 0px 1px 0px #669e2f, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    }
    .like-counter {
        height: 40px;
        border: 2px solid black;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 1em;
        font-family: Oswald, sans-serif;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
        color: black;
        background: #D7D7D7;
        padding-top: 10px;
    }
    .text, .source-link {
        margin-bottom: 10px;
    }
</style>

<%=titulo_pagina(link_icone("Controle de Requisições","random"),link_icone("Controle de Requisições","aguardando"))%>



<%content_for :options do %>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#aguardando" data-toggle="tab"><%=link_icone("Requisições Aguardando","aguardando")%></a></li>
      <li class=""><a href="#confirmadas" data-toggle="tab"><%=link_icone("Confirmadas e Prontas para Sair","check-circle-o")%></a></li>
      <li><a href="#ativas" data-toggle="tab"><%=link_icone("Em Serviço","car")%></a></li>
      <li><a href="#ativas" data-toggle="tab"><%=link_icone("Finalizadas","thumbs-up")%></a></li>
    </ul>
<%end%>



<div class="tab-content">
  <div class="tab-pane active" id="aguardando">
    <div class="tab-container tab-top tab-danger">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#urgentes" data-toggle="tab"><%=link_icone("Requisiçoes Urgentes","bolt")%></a></li>
        <li class=""><a href="#hoje" data-toggle="tab"><%=link_icone("Requisiçoes para Hoje","calendar-o")%></a></li>
        <li class=""><a href="#amanha" data-toggle="tab"><%=link_icone("Requisiçoes para Amanhã","calendar")%></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane  active" id="urgentes"><%=render partial: "urgentes"%></div>
        <div class="tab-pane" id="hoje"><%=render partial: "hoje"%></div>
        <div class="tab-pane" id="amanha"><%=render partial: "amanha"%></div>

      </div>
    </div>
  </div>

  <div class="tab-pane" id="confirmadas">
    <%=render :partial=>"confirmadas"%>
  </div>
  <div class="tab-pane" id="ativas">
    <%=render :partial=>"em_servico"%>
  </div>
  <div class="tab-pane" id="finalizadas">
    <%=render :partial=>"finalizadas"%>
  </div>
</div>
<%=link_to link_icone("Requisição Especial","requisicao"),gerencia_controle_requisicoes_especial_url,:class=>"btn btn-sm btn-sky"  %>
