<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "Admin" %></title>
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Login" %>">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>
</head>
<body class="focusedform">
	

	<div class="verticalcenter">
	
	<a href="index.htm"><img src="assets/img/logo-big.png" alt="Logo" class="brand" /></a>
	<div class="panel panel-primary">
	
	<%=yield%>

	</div>
 </div>

</body>
</html>