<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Sistema Online Gestão Para Gestão de Transporte - SITRON" %></title>
    <%= include_gon %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sitron" %>">
    <!-- link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css' -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%=favicon_link_tag("favicon.ico")%>

    <!--link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'-->



    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%=yield :maps%>

    <%= csrf_meta_tags %>
</head>
<body>

<%= subscribe_to "/#{current_user.id}" %>

<script type="text/javascript">
PrivatePub.subscribe("/<%=current_user.id%>", function(data, channel) {
  eval(data.chat_message);
});
</script>
    

    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
        <a id="rightmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="left" title="Toggle Infobar"></a>

        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="/"></a>
        </div>

        <ul class="nav navbar-nav pull-right toolbar">

         <%=render "shareds/navigation_links"%>

         <%=render "shareds/mensagens"%>
         <%=render "shareds/notificacoes"%>


</ul>
</header>

<div id="page-container">
    <!-- BEGIN SIDEBAR -->
    <nav id="page-leftbar" role="navigation">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="acc-menu" id="sidebar">
            <li id="search">
                <a href="javascript:;"><i class="fa fa-search opacity-control"></i></a>
                <form>
                    <input type="text" class="search-query" placeholder="Busca...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>



            <li class="divider"></li>
            <%=nav_item(root_url,'Início','root','index','home')%>
            <% if can? :manage, Administracao::Empresa %>
                <%=nav_item_menu('Cadastro de Empresas','administracao_empresas','building-o') do %>
                    <%=nav_item(administracao_empresas_url,'Listagem de empresas','administracao_empresas','index','building-o') if can? :manage, Administracao::Empresa %>
                    <%=nav_item(new_administracao_empresa_url,'Cadastrar Empresa','administracao_empresas','new','plus') if can? :create, Administracao::Empresa%>
                    <%=yield :menu_empresa%>
                <%end%>
            <% end %>

            <% if can? :manage, Administracao::Pessoa %>
                <%=nav_item(administracao_pessoas_url,'Cadastro de Pessoas','administracao_pessoas','index','users')%>
            <% end %>

            <% if can? :manage, Administracao::Veiculo %>
                <%=nav_item_menu('Cadastro de Veículos','administracao_veiculos','car') do%>
                    <%=nav_item(administracao_veiculos_url,'Listagem de Veículos','administracao_veiculos','index','car')%>
                    <%=nav_item(new_administracao_veiculo_url,'Cadastrar Veículo','administracao_veiculos','new','plus')%>
                    <%=yield :menu_veiculo%>
                <%end%>
            <% end %>

            <% if can? :manage, Requisicao %>
                <%=nav_item(requisicoes_url,'Requisições de Transporte','requisicoes','index','requisicao')%>
            <% end %>

            <%#=nav_item(calendario_url,'Calendário de Requisições','calendario','index','calendar')%>
            
            <% if can? :manage, Administracao::Patio %>
                <%=nav_item(entrada_patio_index_url,'Gerenciamento de Pátio','patio','index','car')%>
                <%=nav_item(gerencia_controle_requisicoes_index_url,'Ger. de Requisições','controle_requisicoes','index','random')%>
            <% end %>

            <li class="divider"></li>
                            <% if current_user.administrador?%>
            <li><a href="javascript:;"><i class="fa fa-cog"></i> <span>Configurações</span></a>
              <ul class="acc-menu">
                <% if current_user.administrador? %>
                    <%=nav_item(usuarios_url,'Cadastro de Usuarios','usuarios','index','users')%>
                <% end %>

                <% if can? :manage, Administracao::Departamento %>
                    <%=nav_item(administracao_departamentos_url,'Departamentos','administracao_departamentos','index','sitemap')%>
                <% end %>    

                <% if can? :manage, Administracao::Cargo %>
                    <%=nav_item(administracao_cargos_url,'Cargos','administracao_cargos','index','suitcase')%>
                <% end %>

                <% if can? :manage, Administracao::Combustivel %>
                    <%=nav_item(administracao_combustiveis_url,'Combustíveis','administracao_combustiveis','index','tint')%>
                <% end %>

                <% if can? :manage, Administracao::Modalidade %>
                    <%=nav_item(administracao_modalidades_url,'Modalidades','administracao_modalidades','index','tag')%>
                <% end %>

                <% if can? :manage, Administracao::Rota %>
                    <%=nav_item(administracao_rotas_url,'Rotas','administracao_rotas','index','compass')%>
                <% end %>

                <% if can? :manage, Administracao::Contrato %>
                    <%=nav_item(administracao_contratos_url,'Contratos','administracao_contratos','index','file-text-o')%>
                <% end %>

                <% if can? :manage, Administracao::Motivo %>
                    <%=nav_item(administracao_motivos_url,'Motivos','administracao_motivos','index','indent')%>
                <% end %>
            </ul>
        </li>
         <%end%>
    </ul>
    <!-- END SIDEBAR MENU -->
</nav>

<!-- BEGIN RIGHTBAR -->
<div id="page-rightbar">


    <div id="widgetarea">
        <div class="widget">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#accsummary"><h4>Suas Requisições de Transporte</h4></a>
            </div>

            <div class="widget-body collapse in" id="accsummary">
                <%current_user.pessoa.requisicoes.each do |req|%>
                <%=direito_menu_req(req)%>
                <%end%>

                <span class="more"><a href="<%=requisicoes_url%>">Ver Todas</a></span>
            </div>
        </div>

        <%if current_user.administrador?%>
        <div class="widget">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#taskbody"><h4>Requisições <small>(<%=Requisicao.all.count%>)</small></h4></a>
            </div>

            <div class="widget-body collapse in" id="taskbody">

                <%Requisicao.limit(4).each do |req|%>
                <%=direito_menu_req(req)%>
                <%end%>
                <span class="more"><a href="ui-progressbars.htm">Mostrar Todas</a></span>
            </div>
        </div>
        <%end%>





    </div>
</div>
<!-- END RIGHTBAR -->
<div id="page-content">
	<div id='wrap'>
		<div id="page-heading">
			<%= render_breadcrumbs_app %>

			<h1><%=yield :titulo%></h1>
			
		</div>
		<div class="container">



			<div class="row">
				<div class="col-md-12">
                  <%= render 'layouts/messages' %>



                  <%=yield_or :dashboard do%>
                  
                 

                  <div class="panel panel-primary">

                      <div class="panel-heading">
                         <h4><%=yield :sub_titulo%></h4>
                         <div class="options">
                            <%=yield :options%>
                         </div>
                     </div>


                     <div class="panel-body">
                         
                         <%=yield%>
                     </div>
                 </div>
                 <%end%>
             </div>
         </div>







     </div> <!-- container -->
 </div> <!--wrap -->
</div> <!-- page-content -->

<footer role="contentinfo">
    <div class="clearfix">
        <ul class="list-unstyled list-inline">
        <li>Secretaria de Estado da Educação - SITRON&copy; 2014</li>
            <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
        </ul>
    </div>
</footer>

</div> <!-- page-container -->


<%= yield :scripts%>

</body>
</html>

